<!DOCTYPE html>
<html lang="en" xmlns:c="" xmlns:form="http://www.w3.org/1999/xhtml" xmlns:jsp="http://java.sun.com/JSP/Page"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Head</title>
</head>
<body>
<div align="center">
    <form method="post" action="/add">
        <div><label>    User name</label> <input type="text" name="name" placeholder="Имя пользователя"/></div>
        <p style="text-indent:-24px" ><label>User password</label><input type="password" name="password" placeholder="Пароль"/>
        <p style="text-indent:100px" > <input  type="submit", value="Добавить пользователя">
    </form>
</div>
<div align="center">
    <form method="post" action="/del">
        <div><label>    User id</label> <input type="number" name="id" placeholder="id пользователя"/></div>
        <p style="text-indent:100px" > <input  type="submit", value="Удалить пользователя">
    </form>


<div align="center">
    <form method="post" action="/find">
        <p style="text-indent:30px" > <div><label>    User id</label> <input type="number" name="find" placeholder=" поиск по id "/></div>
        <p></p>
        <input type="submit", value="Найти пользователя">
    </form>
</div>
<div align="center">
    <form method="post" action="/findAll">
        <p></p>
        <input type="submit", value="Показать всех">
        <p></p>
    </form>
</div>
<p></p>
<div align="center">
    <h2>STUDENTS</h2>
    <table>
        <thead c:align="center">
        <tr>
            <th>id</th>
            <th>name</th>

        </tr>
        </thead>
        <tbody c:align="center">
        <tr th:each="student : ${student}">
            <td th:text="${student.id}"></td>
            <td th:text="${student.name}"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>