<!DOCTYPE html>
<html lang="en" xmlns:c="" xmlns:form="http://www.w3.org/1999/xhtml" xmlns:jsp="http://java.sun.com/JSP/Page"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Head</title>
</head>
<body>
<div align="center">
    <form method="post" action="/adduser">
        <div><label>    User name</label> <input type="text" name="name" placeholder="Имя пользователя"/></div>
        <p style="text-indent:-24px" ><label>User password</label><input type="password" name="password" placeholder="Пароль"/>
        <p style="text-indent:100px" > <input  type="submit", value="Добавить пользователя">
    </form>
</div>
</body>
</html>