<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:c="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div align="center">
<form method="get" action="/mybook">
</form>
</div>
<div align="center">
    <h2>BOOK-STUDENT</h2>
    <table border="2">
        <thead c:align="center">
        <tr>
            <th>Название</th>
            <th>Дата взятия книги</th>
            <th>Вернуть не позже</th>
        </tr>
        </thead>
        <tbody c:align="center">
        <tr th:each="studentBook : ${studentBooks}">
            <td th:text="${studentBook.name_Book}"></td>
            <td th:text="${studentBook.date_take}"></td>
            <td th:text="${studentBook.date_return}"></td>
        </tr>
        </tbody>
    </table>
    <p> <a href="/mainBook">Вернуться на предыдущую страницу</a></p>
</div>
</body>
</html>
